<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mauroh.ups-monitor</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/TU_USUARIO/.cargo/bin/ups-monitor</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <!-- Se relanza si se cae, pero no si se sale con "Salir". -->
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>StandardOutPath</key>
    <string>/Users/TU_USUARIO/Library/Logs/ups-monitor.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/TU_USUARIO/Library/Logs/ups-monitor.out.log</string>
</dict>
</plist>
